<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>The greatest news app ever</title>
    <link href="https://fonts.googleapis.com/css?family=Unlock" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
    <link rel="stylesheet" href="newsApp.css">

    <!-- ./index.html -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="container" id="app">
        <h3 class="text-center">VueNews</h3>
        <div class="row" v-for="posts in processedPosts">
            <div class="columns large-3 medium-6" v-for="post in posts">
                <div class="card">
                    <div class="card-divider">
                        {{ post.title }}
                    </div>
                    <a :href="post.url" target="_blank"><img :src="post.image_url"></a>
                    <div class="card-section">
                        <p>{{ post.abstract }}</p>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>
</body>
</html>
