body{
    background-image: url('bookshelf-1082309_1920.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color: rgb(255,255,255,.8);
    text-align: left;
    font-family: 'Unlock', cursive;
}
header a{
    text-decoration: none;
    color: black;
}header a:hover{
    text-decoration: none;
    text-shadow: 2px 2px black;
}
main{
    width: 90%;
    margin: 0 auto;
    min-height: 640px;
}
main.card{
    background-color: rgb(255,255,255,.5);
}
.row{
    width: 100%;
    padding-top: 5%;
}
footer{
    width: 100%;
    background-color: rgb(255,255,255,.8);
    height: 40px;
    position: fixed;
    bottom: 0;
    font-family: 'Unlock', cursive;
    text-align: center;
}
