<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo Vue</title>
  <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <section id="todoapp" class="todoapp">
    <header class="header">
        <h1 v-text="title"></h1>
      <input class="new-todo" placeholder="What needs to be done?" v-on:keyup.enter="createTodo"
      autofocus>
    </header>

    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main" v-if="todos.length">
      <input id="toggle-all" class="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">
        <!-- These are here just to show the structure of the list items -->
        <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
        <li class="completed">
          <div class="view">
            <input class="toggle" type="checkbox" checked>
            <label>Taste JavaScript</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Create a TodoMVC template">
        </li>
        <!-- List items should get the class 'editing' when editing and 'completed' when marked as complete -->
        <li v-for="todo in todos" :class="{ completed: todo.isDone, editing: todo === editing }">
          <div class="view">
            <input class="toggle" type="checkbox" v-model="todo.isDone">
            <!-- @dblclick is shorthand for v-on:dblclick -->
            <label @dblclick="startEditing(todo)">{{ todo.text }}</label>
            <button class="destroy" @click="destroyTodo(todo)"></button>
          </div>
          <input class="edit" value="Rule the web"
            @keyup.esc = "cancelEditing"
            @keyup.enter = "finishEditing"
            @blur="finishEditing"
            :value="todo.text">
        </li>
      </ul>
    </section>

    <!-- This footer should hidden by default and shown when there are todos -->
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count">
        <strong>{{ activeTodos.length }}</strong> item(s) left</span>

      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a class="selected" href="#/">All</a>
        </li>
        <li>
          <a href="#/active">Active</a>
        </li>
        <li>
          <a href="#/completed">Completed</a>
        </li>
      </ul>

      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed" @click="clearCompleted" v-show="completedTodos.length">Clear completed</button>
    </footer>
  </section>

  <footer class="info" v-if="todos.length">
    <p>Double-click to edit a todo</p>
  </footer>

  <!-- Scripts here ↓ -->
  <script src="app.js"></script>
</body>

</html>
